.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.editorconfig
node_modules/dayjs/**/*.js
node_modules/dayjs/**/*.ts
!node_modules/dayjs/dayjs.min.js
*.vsix
